[submodule "salt/roots/formulas/nginx-formula"]
	path = salt/roots/formulas/nginx-formula
	url = https://github.com/extra2000/nginx-formula.git
[submodule "salt/roots/formulas/podman-formula"]
	path = salt/roots/formulas/podman-formula
	url = https://github.com/extra2000/podman-formula.git
