# -*- coding: utf-8 -*-
# vim: ft=yaml

filebeat:
  lookup:
    hostuser:
      name: vagrant
      group: vagrant
    pod:
      network:
        subnet: 10.77.2.0/24
        gateway: 10.77.2.1
        domain_name: filebeatnet
        bridge: cni-podman1
    filebeat:
      resources:
        requests:
          memory: 100Mi
        limits:
          memory: 100Mi
      ymlcfg:
        name: filebeat-box
        logging.level: warning
        logging.to_files: true
        logging.files:
          path: /var/log/filebeat
          name: filebeat
          keepfiles: 7
          permissions: "0644"
        output.logstash:
          hosts:
            - elk-box:5044
        filebeat.inputs:
          - type: log
            paths:
              - /var/log/filebeat/*
            fields:
              service: filebeat
          - type: log
            paths:
              - /var/log/nginx/ssl-access.log
              - /var/log/nginx/ssl-error.log
            fields:
              service: nginx
      podcfg:
        volumeMounts:
          - mountPath: /var/log/nginx
            name: nginx-logs
            readOnly: true
        volumes:
          - name: nginx-logs
            type: persistentVolumeClaim
            opt: "claimName: nginx-logs"
